body {
  background-color: black;
}
.description {
  text-align: center;
}

.App {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.history-sections {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid black 1px;
}

.history-links {
  display: flex;
  justify-content: space-around;
}

.links {
  padding-top: 7px;
  color: blue;
  text-decoration: underline;
}

.current-link, .back-links, .forward-links {
}