.description {
  text-align: center;

}

.App {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

section {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: solid black 1px;
}

.back-links, .current-link, .forward-links {
  border-bottom: solid black 1px;
}